body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
button{
    background-color: red;
    margin-top:30px;
    padding:10px;
    border:none;
    border-radius: 5px;
    color:white;
}
/*-------- header part------------*/
.header-part{
    background-color:black;
    width:90%;
    margin:40px auto;
    display:flex;
    border-radius: 20px;;
}
.writing{
    width: 50%;
    padding:30px;
    margin-top:20px;
}
.writing h1,p{
    color:white;
}
.header-image{
    width:50%;
    
}
.header-image img{
    display:block;
    margin:auto;
}
@media only screen and (max-width: 576px){
    .header-part{
        flex-direction: column;
    }
    .writing{
        width:90%;
        text-align: justify;
        padding:0;
        margin:auto;
    }
    button{
        display:block;
        margin:40px  auto;
        font-size:30px;
    }
    .header-image{
        width:90%;
        margin: 30px auto;
        
    }

}
/* --------blog part---------*/
.blog-area{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 25% 75%;
}
.link{
    padding:10px;
}



.link a{
    display:block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(20, 67, 108);
    padding:8px;
    margin:5px
}
#blog{
    background-color: red;
    color:white;;
}
.blog-banner{
    border:2px solid red;
    width:100%;
    background-color:gray;
}
.blog-image img{
    width:100%;
}
#chat{
    margin-left:34px;
}
.banner-writing{
    padding: 10px 20px;
}
#transfer{
    background:none;
    color:black;
    border:1px solid black;
    border-radius: 4px;
    padding:3px 15px;;
}
.blog-item{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 8px;
    column-gap: 8px;
}
