body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
*{
    margin:0;
    padding:0;
}
button{
    background-color: red;
    margin-top:30px;
    padding:10px;
    border:none;
    border-radius: 5px;
    color:white;
}
a{
    font-size:16px;
    border-radius: 8px;
}
#view{
    display:none;
}

/*-------- header part------------*/
.header-part{
    background-color:black;
    width:90%;
    margin:40px auto;
    display:flex;
    border-radius: 20px;;
}
.writing{
    width: 50%;
    padding:30px;
    margin-top:20px;
}
.writing h1{
    color:white;
}
.writing p{
    color:gray;
}
.header-image{
    width:50%;
    
}
.header-image img{
    display:block;
    margin:auto;
}
@media only screen and (max-width: 576px){
    .header-part{
        flex-direction: column;
    }
    .writing{
        width:90%;
        text-align: justify;
        padding:0;
        margin:auto;
    }
    button{
        display:block;
        margin:40px  auto;
        font-size:30px;
    }
    .header-image{
        width:90%;
        margin: 30px auto;
        
    }

}
/* --------blog part---------*/
.blog-area{
    width:90%;
    margin: 60px auto;
    display:grid;
    grid-template-columns: 25% 75%;
    column-gap: 8px;
}
.link{
    padding:10px;
}

.blog{
    background-color:black;
    height: 180px;
    border-radius: 10px;

}

.link a{
    display:block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(20, 67, 108);
    padding:8px;
    margin:5px
}

#blog{
    background-color: red;
    color:white;;
}
#me{
    background-color: white;
    color:black;
    border:1px solid gray;
}
.blog-banner{
    width:100%;
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 10px;;
}
.blog-image img{
    width:100%;
    height:200px;
}
#chat{
    margin-left:34px;
}
.banner-writing{
    padding: 10px 20px;
}
#transfer{
    background:none;
    color:black;
    border:1px solid black;
    border-radius: 4px;
    padding:3px 15px;;
}
.blog-item{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 8px;
    column-gap: 8px;
}
@media only screen and (max-width: 768px){
    .blog-area{
        display:flex;
        flex-direction: column;   
    }
    .blog{
        background-color:white;;
    }
    .link{
        display:flex;
        justify-content: space-around;
    }
    .link a{
        width:33.33%
    }
    .blog-item{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    #dismis{
        display: none;;
    }
    #view{
        display:block;
        width:200px;
        margin:70px auto;
    }
    
}
@media only screen and (max-width: 576px){
    .blog{
        margin-bottom:80px;
    }
    .link{
        display:block;

    
    }
    .link a{
        display:block;margin: 10px auto;
        width:60%;
    }
    .blog-item{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    #view{
        display:none;
    }
    

}
/*-----------footer----------*/
footer{
    background-color: black;
} 
footer h2{
    color:white;
    margin-top:90px;
    padding:60px;
    font-size:4vw;
    text-align: center;
}
hr{
    width: 80%;
    display:block;
    margin:auto;
}
.footer-nav{
    width:80%;
    margin: 30px auto;
    margin-bottom:0px;
    padding:50px;
    display:flex;
    justify-content: space-evenly;
}
.footer-nav a{
    color:white;
    padding:8px;
}
.icons{
    text-align: center;
    margin-bottom: 10px;;
}
.icons i{
    font-size:30px;
    color:white;
    padding:10px;
    background-color: blue;
    border-radius: 50%;
    margin:15px;
}
.icons i:hover{
    background-color:azure;
    color:black;
    transition:1s ease;
}


@media only screen and (max-width: 576px){
    .footer-nav{
        flex-direction: column;
        text-align: center;
    }
    .footer-nav a{
        padding:20px;
        text-decoration: none;
    }
}

/*--------Match------*/
#para{
    color:gray;


}
.all-match{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 15px;
    column-gap: 20px;
}
.match{
    width:100%;
    text-align: center;
    padding:20px;
    border: 1px solid gray;
    background-color: aqua;
    border-radius: 8px;
}
.match-banner{
    display:flex;
    justify-content: space-between;
    text-align:center;
}
